.row {
	display: block;
	margin-top: 15%;
}

.row .container {
	text-align: center;
}

.row .container img {
	margin: 0 auto;
}

.controls {
    position: absolute;
    bottom: 40%;
    width: 100%;
    color: #000000;
    font-size: 40px;
    z-index: 2;
}

.controls .icon-left-open {
    text-align: left;
}

.controls .icon-right-open {
    text-align: right;
}

.icon-left-open:hover, .icon-right-open:hover {
    opacity: .8;
}