.gradient {
    background: linear-gradient(#21A1B5,#2A753E) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient .bg {
    background: url(assets/images/new-york-hero.jpg) center center no-repeat;
    background-size: cover;
    opacity: .15;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient .container {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0; 
    right: 0;
}

.gradient .container img {
    margin: 0 auto;
}


.gradient .controls {
    position: absolute;
    bottom: 40%;
    width: 100%;
    color: #FFFFFF;
    font-size: 40px;
    z-index: 2;
}

.gradient .controls .icon-left-open {
    text-align: left;
}

.gradient .controls .icon-right-open {
    text-align: right;
}

.icon-left-open:hover, .icon-right-open:hover {
    opacity: .8;
}

