/* index and about */
.gradient {
    background: linear-gradient(#21A1B5,#2A753E) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient .bg {
    background: url(assets/images/new-york-hero.jpg) center center no-repeat;
    background-size: cover;
    opacity: .15;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient .container {
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 0; 
    right: 0;
}

.gradient .container img {
    margin: 0 auto;
}

.row {
    margin: 0 auto;
}

/* vids */

#vid {
    margin-top: -5%;
}

/* contact */

form {
    display: block;
}

.cf-left-col {
    width: 48.5%;
    float: left;
    margin-right: 3%;
}

.cf-right-col {
    width: 48.5%;
    float: right;
}

.contact-form #message {
    resize: none;
}

.contact-form .ci-btn {
    margin-top: -5px;
    color: #aaa;
    background: rgba(51,51,51, .75);
}
.btn-mod.btn-large {
    padding: 15px 40px 14px;
    font-size: 13px;
}
.btn-full {
    width: 100%;
}

/* controls */

.gradient .controls {
    position: absolute;
    top: 60%;
    width: 100%;
    color: #FFFFFF;
    font-size: 40px;
    z-index: 2;
    padding: none !important;
}

.gradient .controls .icon-left-open {
    text-align: left;
}

.gradient .controls .icon-right-open {
    text-align: right;
}

.icon-left-open:hover, .icon-right-open:hover {
    opacity: .8;
}

